<a class="navbar-brand" asp-area="" asp-controller="Add" asp-action="AddSeries"> Add Series</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" asp-area="" asp-controller="Add" asp-action="AddSeason"> Add Season</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" asp-area="" asp-controller="Add" asp-action="AddTeam"> Add Teams</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<a class="navbar-brand" asp-area="" asp-controller="Add" asp-action="AddPlayer"> Add Players</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
