@model SeasonBoxViewModel

<div class="pt-2 pl-2">
  <h1>Game @Model.SeasonGame.GameNumber</h1>
</div>

@if (User.IsInRole("admin"))
{
  <a asp-action="AddSeasonBox" asp-controller="Add" asp-route-id="@Model.SeasonGame.SeasonGameID">Add Player Stats</a>
}

@if (User.IsInRole("viewer") == false && Model.Season.IsAppropriate == false)
{
  <p> No data available </p>
}

else if (Model.SeasonBoxes.Count() == 0)
{
  <p>There are no player boxes recorded</p>
}
else
{

  <div class="row gridMobile">
    
    <partial name="_PlayerStatsSeasonGame.cshtml" model="Model" />

    <partial name="_TeamStatsSeasonGame.cshtml" model="Model" />

  </div>
}