<div class="p-4">
    <h1> Welcome to 2kStats </h1>

    <h5> This is a personal website to track my NBA2k stats </h5>
    <h5> You can view series stats, season stats, and use the stat view feature to see all the data </h5>
    <h5> I would like to do a lot more with this data but unfortuantely the data the game provides is lackluster </h5>
    <h5> This website is designed for PC use, I am working on a companion app for mobile </h5>
    <br>

    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SllaU2wEusI?si=pCYXdmKzdDM1SD1K" allowfullscreen></iframe>
    </div>

    <h3 style="padding-top: 50px"> To Do</h3>
    <ul>
        <li> Teams Page / Roster View </li>
        <li> QOL Improvments </li>
    </ul>
</div>