<div>
    <h1> About 2kStats </h1>

    <h5> This is a personal website to track my NBA2k stats </h5>
    <h5> You can view series stats, season stats, and use the stat view feature to see all the data </h5>
    <h5> I would like to do a lot more with this data but unfortuantely the data the game provides is lackluster </h5>
    <h5> This website is designed for PC use, but should function on mobile </h5>
    <br>

    <h3 style="padding-top: 50px"> To Do</h3>
    <ul> 
        <li> Update toggle myplayers of stats page to only filter by team and not opponent </li>
        <li> BRT sorting error </li>
        <li> ^ search for box scores from johnson</li>
        <li> Tab Names </li>
        <li> Add pvp / pve options to series and seasons </li>

        <li> QOL Improvments </li>
    </ul>
</div>