/* CTRL F5 to fix weird styling bug */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smallText {
  font-size: 13px;
}

.fixTableHead {
  width: 100%;
  font-size: 13px;
}

.fixTableHead {
  height: 650px;
}

.fixTableHead thead th {
  position: sticky;
  background-color: black;
  color: white;
  top: -1px;
}

#body {
  background-color: #050509
}

#content {
  background-color: #050509
}

hr {
  border: none;
  color: black;  
  background-color: black;  
}

.custom-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.teamRightList li {
  display: flex;
  align-items: right;
  justify-content: right;
}

.teamRightList span {
  display: flex;
  align-items: right;
  justify-content: right;
}

.overallBadge {
  color: white;
  background-repeat: repeat;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 5px;
  min-width: 24px;
}

.teamBadge {
  color: white;
  background-repeat: repeat;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 5px;
  min-width: 24px;
}

.bronze {
  background-image: linear-gradient(#ab570f, #4b2401);
}

.silver {
  background-image: linear-gradient(#9c9c9c, #3b3b3b);
}

.gold {
  background-image: linear-gradient(#d0b65b, #9e8322);
}

.emerald {
  background-image: linear-gradient(#20bb19, #1c8017);
}

.sapphire {
  background-image: linear-gradient(#615af5, #202b6a);
}

.ruby {
  background-image: linear-gradient(#d22323, #6f0e0e);
  box-shadow: #6f0e0e 0px 0px 5px 0px;
}

.amethyst {
  background-image: linear-gradient(#8327c4, #470e6f);
  box-shadow: #a56ecb 0px 0px 8px 0px;
}

.diamond {
  background-image: linear-gradient(#6fb3ee, #3b5c79);
  box-shadow: #83bbd0 0px 0px 8px 0px;
}

.pink-diamond {
  background-image: linear-gradient(#ee6fe5, #8c3f87);
  box-shadow: #ee6fe5 0px 0px 8px 0px;
}

.galaxy-opal {
  background-image: linear-gradient(45deg, #3b87a4, #8c3f73 110%);
  box-shadow: #7b851c 0px 0px 8px 0px;
}

.dark-matter {
  background-image: linear-gradient(#470808, #050505);
  box-shadow: #db1009 0px 0px 5px 0px;
}

.unobtainium {
  background-image: linear-gradient(#500b5e, #050505);
  box-shadow: #ee6fe5 0px 0px 8px 0px;
  padding-left: 0px;
  padding-right: 2px;
}

.unobtainium-2 {
  background-image: linear-gradient(#500b5e, #050505);
  box-shadow: #ee6fe5 0px 0px 8px 0px;
}

.w-75-mobile {
  width: 75%;
}

@media only screen and (max-width: 1200px) {
  #bootstrap-overrides .gridSmallWindow { 
    display: grid;
  }
}

@media only screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .custom-padding {
    padding: 5px;
  }
  #bootstrap-overrides #content {
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 10000px;
    justify-content: center;
  }
  #bootstrap-overrides .w-75-mobile {
    width: 90%;
  }
  #bootstrap-overrides .table-sm td {
    padding: 2px;
    font-size: 10px;
  }
  #bootstrap-overrides .table-sm th {
    padding: 1px;
    font-size: 10px;
  }
  .hideWhenSmall {
    display: none;
  }
  #bootstrap-overrides .gridMobile { 
    display: grid;
  }

  #bootstrap-overrides .teamBadge {
    padding-bottom: 3px;
    padding-top: 3px;
  }
 
  #bootstrap-overrides #badgeCellFix{
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media only screen and (min-width: 801px) {
  .hideWhenLarge {
    display: none;
  }
}





